GROQ_API_KEY=
GITHUB_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=humana-aks-demo
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
SNOW_INSTANCE=
SNOW_USERNAME=
SNOW_PASSWORD=
PORT=3001

# CAPE Demo Azure Resources (populated after running setup-azure-demo.js)
CAPE_RESOURCE_GROUP=
CAPE_SQL_SERVER=
CAPE_SQL_DB=
CAPE_STORAGE_ACCOUNT=
CAPE_BLOB_CONTAINER=
